<?xml version="1.0"?>
<launch>

	<!-- Load the urdf into the parameter server. -->
	<param name="robot_description" textfile="$(find ugv_nav)/urdf/p3dx.urdf"/>

	<!-- robot state publisher -->
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub"/>

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find ugv_nav)/config/p3dx_disp.rviz"/>

</launch>